body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.classy{

  color: black;
  font-weight: bold;
}

img.avatar{

  height: 54px;
  width: 54px;
  max-width: none;
}

.inline{

  display: inline;
}

div.topSpace{
  margin-top: 10px;
}

.rouge{

    color: red;
}

.vert{

    color: green;
}

.noir{
    color: black;
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

a[ng-click]{
  cursor: pointer;
}

.modal-backdrop{

  opacity: 0.3;
}