<div class="row">

    <div class="well well-lg">
        <h1>Plus qu'une étape !</h1>
        <p>Après votre inscription, vous pourrez étaler votre vie sur un réseau social complètement virtuel !</p>
    </div>

</div>

<div class="row">
    <form name="formRegistration" ng-submit="register()">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="form-group" ng-class="getFieldValidClasses(formRegistration.name)">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nom" ng-model="formRegisterData.name" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="isFieldValid(formRegistration.name)"></span>
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="isFieldUnvalid(formRegistration.name)"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="form-group" ng-class="getFieldValidClasses(formRegistration.username)">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" ng-model="formRegisterData.id" ng-model-options="{ debounce: {'default': 500, 'blur': 0} }" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="isFieldValid(formRegistration.username)"></span>
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="isFieldUnvalid(formRegistration.username)"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="formRegistration.username.loading"></span>
                <span class="vert" ng-show="formRegistration.username.$valid && formRegistration.username.$dirty">Ce nom d'utilisateur est disponible !</span>
                <span class="rouge" ng-show="formRegistration.username.$error.unique && formRegistration.username.$dirty">Ce nom d'utilisateur est déjà choisi !</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="form-group" ng-class="getFieldValidClasses(formRegistration.password)">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" ng-model="formRegisterData.password" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="isFieldValid(formRegistration.password)"></span>
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="isFieldUnvalid(formRegistration.password)"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="form-group" ng-class="getFieldValidClasses(formRegistration.email)">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                           ng-pattern="/[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}/"
                           ng-model="formRegisterData.email" required>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="isFieldValid(formRegistration.email)"></span>
                    <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="isFieldUnvalid(formRegistration.email)"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-offset-6 col-lg-3 text-right">
                <button type="submit" class="btn btn-default"
                        ng-class="{'btn-danger': hover}"
                        ng-mouseover="hover = true" ng-mouseleave="hover = false"
                        ng-disabled="formRegistration.$invalid">{{ hover ? "Vendre votre âme" : "S'inscrire" }}</button>
            </div>
        </div>
    </form>
</div>