<div class="row">

    <div class="col-lg-3">
        <div class="row">
            <user-resume user="userRequested"></user-resume>
        </div>
        <div class="row text-center" ng-hide="userConnected.id === userRequested.id || userRequested === undefined">
            <button class="btn btn-success" ng-disabled="isStalking()" ng-click="stalk()">Stalk</button>
            <button class="btn btn-danger" ng-disabled="!isStalking()" ng-click="unstalk()">Unstalk</button>

            <div class="row" ng-show="!isStalking()">
                <blockquote>
                    <p>Allez, tu peux bien le stalker ?</p>
                    <footer>Le gouvernement le fait bien lui...</footer>
                </blockquote>
            </div>

            <div class="row" ng-show="isStalking()">
                <blockquote>
                    <p>Alors comme ça on ne veut plus le stalker ?</p>
                    <footer>En effet il a pas l'air intéressant...</footer>
                </blockquote>
            </div>

        </div>
        <div class="row text-center" ng-show="userConnected.id === userRequested.id || userRequested === undefined">
            <button class="btn btn-warning" ng-click="editModal()">Modifier</button>
            <button class="btn btn-danger" ng-click="deleteModal()">Supprimer</button>
        </div>
    </div>

    <div class="col-lg-offset-1 col-lg-8">
        <div class="row" ng-repeat="touite in touites | orderBy:'-time'">
            <touite content="touite" username="userConnected.id" delete-touite="deleteTouite"></touite>
        </div>
    </div>

</div>