<div class="row">

    <div class="col-lg-3">
        <div class="row">
            <user-resume user="userRequested"></user-resume>
        </div>
        <div class="row text-center" ng-hide="usernameConnected === userRequested.id || userRequested === undefined">
            <button class="btn btn-success" ng-disabled="isStalking()" ng-click="stalk()">Stalk</button>
            <button class="btn btn-danget" ng-disabled="!isStalking()" ng-click="unstalk()">Unstalk</button>
        </div>
    </div>

    <div class="col-lg-offset-1 col-lg-8">
        <div class="row" ng-repeat="touite in touites | orderBy:'-time'">
            <touite content="touite" username="usernameConnected" delete-touite="deleteTouite(touite.id)"></touite>
        </div>

    </div>

</div>