<div class="row">
    <div class="row">
        <div class="col-lg-3">
            <user-resume user="userConnected"></user-resume>
        </div>

        <div class="col-lg-6">
            <div class="well well-lg">
                <form name="formEnvoiTouite">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <textarea ng-model="touitePost.content" name="touitePost" ng-trim="false"
                                      placeholder="Insérez ce que vous avez mangé ici..."
                                      class="form-control" rows="3" autofocus></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <span ng-class="{'rouge': touitePost.content.length > 140}">{{touitePost.content.length || 0}}</span>
                            <button type="submit" class="btn btn-default" ng-click="postTouite()" ng-disabled="touitePost.content === undefined || touitePost.content.length > 140 || touitePost.content.length == 0 ">Envoyer !</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="well well-lg text-center">

                <div class=" text-center">
                    <h4>Informations aléatoires</h4>
                </div>


                <div class="row" ng-if="randomUser !== undefined">
                    <user-information username="randomUser" light="true"></user-information>
                </div>
                <h4 class="row" ng-if="randomUser === undefined">
                    <i>Aucun autre utilisateur</i>
                </h4>


                <h4 ng-if="randomMotdiese !== undefined">
                    <a ng-href="#/motdiese/{{randomMotdiese}}">#{{randomMotdiese}}</a>
                </h4>
                <h4 ng-if="randomMotdiese === undefined">
                    <i>Aucun motdiese</i>
                </h4>

            </div>
        </div>

    </div>

    <div class="row" ng-repeat="touite in touites | orderBy:'-time'">
        <div class="col-lg-offset-2 col-lg-8">
            <touite content="touite" username="userConnected.id" delete-touite="deleteTouite"></touite>
        </div>
    </div>

    <div class="row" ng-hide="touites === undefined || touites.length === 0">
        <div class="col-lg-offset-2 col-lg-8 text-center">
            <nav>
                <ul class="pagination">
                    <li>
                        <a ng-click="toPage(currentPage-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li ng-repeat="i in [] | range: getPagesNumber() + 1" ng-class="{'active': i === currentPage}">
                        <a ng-click="toPage(i)">{{i+1}}</a>
                    </li>
                    <li>
                        <a ng-click="toPage(currentPage+1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>